@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth !important;

}

span {
    font-family: inherit;
    font-weight: inherit;
}

.btnBlueShadow {
    box-shadow: 3px 3px 0px 0 #60a5fa;
}

.btnBlueShadow:hover {
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 0px 0 #2177e0;
}

.btnBlueShadow:active {
    transform: translate(0px, 0px);
    box-shadow: 3px 3px 0px 0 #2177e0;
}